@import '../../node_modules/react-toastify/dist/ReactToastify.css';

.Toastify__toast {
  // background-color: lighten(#212121, 10);
  // color: #fafafa;
  border-radius: 5px;
  padding-left: 20px;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #212121;
  color: #fafafa;
}

.sidebar {
  &-links {
    color: #fafafa;
    text-decoration: none;
  }
}

@keyframes blinker {
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
}
.nodetable-status {
  width: 10px;

  height: 10px;
  border-radius: 10px;
  margin-right: 10px;
  &__online {
    background-color: #2e7d32;
    animation: blinker 3s ease-in-out infinite;
  }
  &__offline {
    background-color: #b71c1c;
    animation: blinker 0.5s ease-in-out infinite;
  }
}

.nodes-table-paper {
  margin-bottom: 20px;
}
.nodes-table-container:nth-child(odd) {
  @media (min-width: 961px) {
    padding-right: 20px;
  }
}

.settings-icon {
  cursor: pointer;
}
.settings-icon:hover {
  transform: rotate(180deg);
  transition: all 0.3s ease-in-out 0s;
}

.date-select-button {
  cursor: pointer;
  color: #fafafa !important;
}

.recharts-cartesian-axis-tick,
.recharts-legend-item-text {
  font-size: 1rem;
  font-family: Roboto, sans-serif;
}
